*, *::before, *::after {
    box-sizing: border-box;
    font-family: monospace, fantasy;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #333;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: rgb(58, 55, 55);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
}

.btn, .startQuiz {
    background-color: hsl(216, 59%, 37%);
    /* border: 2px soild hsl(160, 100%, 30%); */
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover, .startQuiz:hover {
    border-color: black;
}

#text, #text1, #result, #countDownTimer, .score {
    color: rgb(189, 180, 180);
    text-align: center;
}